<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbaGCbawoZZj3O9Gq_5qMlW2qySScogcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>724690065404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VickyChen.Team10Firebase</string>
	<key>PROJECT_ID</key>
	<string>group10-7d300</string>
	<key>STORAGE_BUCKET</key>
	<string>group10-7d300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:724690065404:ios:33e76fdeac844393bb8479</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to the camera to take pictures for scanning purposes.</string>
</dict>
</plist>
