<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAIKey</key>
	<string>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</string>
</dict>
</plist>
